
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* -- Header --*/

.header{
  background: #C10A27;
}

.header .page-title{
  font-weight: 300;
  font-size: 30px;
  color: #fff;
  padding: 1%;
}

/* -- Main --*/

.main {
  margin: 50px 0;
}

.questionaire {
  margin-top: 50px;
  margin-bottom: 150px;
}

.questionaire .cover {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 500;
}

.question-title h4 {
  color: #C10A27;
  margin-bottom: 30px;
}

.option-list {
  list-style: none;
}

.list-item {
  display: inline-flex;
  margin: 8px;
  margin-right: 5%;
  padding: 5px;
  margin-left: 0; 
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}


.list-item label {
  font-weight: 200;
  font-size: 16px;
  line-height: 21px;
  color: #666;
}

.fader {
  width: 100%;
  height: 150px;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: calc(100% - 150px);
  z-index: 500;
}

.q-counter {
  width: 100%;
  color: white;
  text-align: center;
  height: 50px;
  background: #515353;
  padding-top: 18px;
  position: fixed;
  top: calc(100% - 50px);
  z-index: 550;
}


.progress-item {
  float: left;
  margin: 0 auto;
}

.q-counter .n-answered {
  font-weight: 600;
  margin-right: 1.5%;
  width: 50%;
}

.q-counter .progress {
  width: 30%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

/* -- Footer --*/

.footer {

}